.container {
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    margin-top: 100px;
}

.hint-containter {
    position: absolute;
    top: 90%;
    left: 10%;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}

.container h2 {
    position: absolute;
    top: 80px;
    left: 50px;
}

#map img {
    z-index: 0;
}

#map .continent {
    cursor: pointer;
}

#continent_img {
    position: absolute;
    top: 60px;
    width: 99%;
    height: 92%;
    border-radius: 15px;
}
